.card {
  border: 1px solid rgb(229, 229, 230);
  border-radius: 8px;
  padding: 24px 24px 40px 24px;
}
.resources {
  font-size: 1rem;
  color: #381fd1;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 6px;
}
.text {
  font-size: 1.5rem;
  color: #10284b;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 800;
  line-height: 110%;
}
.card-img {
  border: 1px solid rgb(229, 229, 230);
  border-radius: 0.5rem;
}
img {
  display: block;
  max-width: 100%;
}
.card-bot {
  position: relative;
  background-color: #f6f6eb;
  // border: 1px solid rgb(229, 229, 230);
  border-radius: 0.5rem;
  &-2 {
    background-color: #f3f2fc;
  }
}
.text-bot {
  font-size: 1.5rem;
  color: #10284b;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 800;
  line-height: 110%;
  position: absolute;
  top: 10%;
  left: 10%;
}
.card-bot-img {
  position: absolute;
  // top: 40%;
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  top: 42%;
  border-radius: 0.5rem;
}
