@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}
body {
  margin: 0;
}
.container {
  margin-inline: auto;
  max-width: 90rem;
  letter-spacing: 0.5px;
}
.navigation {
  background-color: #f6f6eb;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 800;
  display: flex;
  padding-block: 1rem;
  // padding-inline: 15rem;
  justify-content: center;
  column-gap: 13rem;
  &__left {
    display: flex;
    color: #381fd1;
    column-gap: 1.5rem;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: #381fd1;
    &--btn {
      color: #fff;
      background-color: #381fd1;
      padding: 0.5rem;
      border-radius: 0.375rem;
    }
  }
}
.main {
  display: grid;
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 4rem;
  margin-inline: 5rem;
}
.main__sidebar {
  color: #4b4b4e;
  // font-weight: 500;
  &_contents {
    font-size: 0.875rem;
    &--library {
      margin-bottom: 14px;
      font-weight: 500;
    }
    &--search {
      border: 0.125rem solid #acacaf;
      border-radius: 0.25rem;
      max-width: 17.5rem;
      max-height: 2.5rem;
      padding-inline: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.4rem;
    }
    &--menu {
      padding-inline: 1.25rem;
      padding-block: 2.5rem;
      font-weight: 600;
      &-text-home {
        color: #381fd1;
        margin-bottom: 2.5rem;
      }
      &-text {
        margin-bottom: 2.5rem;
      }
      &-icon {
        max-width: 0.875rem;
        margin-left: 8rem;
      }
    }
  }
}
