@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  margin: 0;
}

.container {
  margin-inline: auto;
  max-width: 90rem;
  letter-spacing: 0.5px;
}

.navigation {
  background-color: #f6f6eb;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 800;
  display: flex;
  padding-block: 1rem;
  padding-inline: 15rem;
  justify-content: space-between;
}
.navigation__left {
  display: flex;
  color: #381fd1;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
}
.navigation__right {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  color: #381fd1;
}
.navigation__right--btn {
  color: #fff;
  background-color: #381fd1;
  padding: 0.5rem;
  border-radius: 0.375rem;
}